@charset "utf-8";
/* CSS Document */
body{
	Background: #3E581A;//dark green;
	color: #CDE77F; //light apple green;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight: 500;
	}
	
.container{
	width:1000px;
	height:100%;
	background:white;
	margin:auto;
	}
	
header{
	background-color: white;
	padding-top: 15px;
	padding-bottom:0px;
	}

	nav{
		height:25px;
		}
	
	.navigation li{
		text-decoration:none;
		display: inline-block;
		padding: 0.5%; //spacing between blocks;
		}
	
	.navigation ul{
		padding:0;
		}
	
	.navigation ul a{
		color: white;
		font-size:20px;
		background-color:#CDE77F;//light apple green;
		padding: 20px;
		text-decoration:none;
		border-radius:10px;
		}
		
	.navigation ul a:hover{
		color: white;
		background-color:#CDE77F;//light apple green;
		text-decoration:none;
		box-shadow: 2px 2px #759B3d;//apple green;
				}
		
.banner{
	width:1000px;
	height:191px;
	background-image: url(../Images/Banner1.png);
	margin:auto;
	background-color:#759B3C;//apple green;
	background-repeat:no-repeat;
	}
	
.main{
	height:960px;
	width:100%;
	}
	
.footer{
	border-top:1px solid #CDE77F;//light apple green;
	margin-left:12%;
	margin-right:12%;
	color:#CDE77F;//light apple green;
	}

.footer p a{
	color:#CDE77F;//light apple green;
	}



.main{
			width: 900px;
            height: 90%;
            background: #fff;
            border-radius: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
			}
			
label {
            color: #555;
            display: inline-block;
            margin-left: 10px;
            padding-top: 10px;
            font-size: 20px;
}

#lower {
            background:#CDE77F;//light apple green;
            width: 100%;
            height: 60px;
            margin-top: 20px;
			padding-top: 10px;
            box-shadow: inset 0 1px 1px #fff;
			border-radius:20px;
			}
			
input[type=submit] {
            float: right;
            margin-right: 20px;
            margin-top: 10px;
            width: 80px;
            height: 30px;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            background-color: #759B3C;//apple green
            border-radius: 30px;
            border: 1px solid #CDE77F;//light apple green;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
            cursor: pointer;
        }
        